<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      Backlog
    </ng-template>
    <app-task-ledger ledger="backlog"></app-task-ledger>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Next
    </ng-template>
    <app-task-ledger ledger="next"></app-task-ledger>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      In Progress
    </ng-template>
    <app-task-ledger ledger="inprogress"></app-task-ledger>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Done
    </ng-template>
    <app-task-ledger ledger="done"></app-task-ledger>
  </mat-tab>

</mat-tab-group>
