<mat-tab-group>

  <mat-tab *ngFor="let ledger of getLedgers()">

    <ng-template mat-tab-label>
      {{ledger.label}} {{getLedgerSize(ledger.name)|async}}
    </ng-template>
    <ng-template matTabContent>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxLayoutAlign="space-between center"
                style="width: 100%">
              <!-- filter button -->
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>filter_list</mat-icon>
                <span style="padding-left: 10px;">Filters</span>
              </div>

              <div fxLayout="row"> <!-- filters list -->
                <span *ngFor="let filter of getFilters()|keyvalue"
                    style="padding-left: 10px;">
                  <strong>{{filter.key}}: </strong>
                  {{filter.value}}
                </span>
              </div>

              <span></span>

            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <!-- panel contents -->
        <div fxLayout="row" fxLayoutAlign="start center"
            [formGroup]="filter_form_group">
          <!-- filter by project -->
          <mat-form-field>
            <mat-label>Project</mat-label>
            <mat-select multiple formControlName="project"
                (selectionChange)="projectFilterChanged($event)">
              <mat-option
                  *ngFor="let project of getProjects()|async"
                  [value]="project">
                {{project}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span style="width: 40px"></span>
          <mat-form-field style="width: 30em">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title"
                (keyup)="titleFilterChanged($event)"/>
          </mat-form-field>

        </div>


      </mat-expansion-panel>
      
      <app-task-ledger [ledger]="ledger.name" [filters]="filters$">        
      </app-task-ledger>
    </ng-template>
  </mat-tab>

</mat-tab-group>