.sidenav-container {
    height: calc(100vh - 64px - 20px - 20px);
    width: 100%;
}

.sidenav-menu {
    width: 270px;
}

.sidenav-content {
    height: calc(100vh - 64px - 20px);
    width: calc(100% - 270px);
}

.settings-item {
    width: 100%;
}

.settings-item-card {
    height: 100%;
}