<mat-sidenav-container class="sidenav-container" autosize>

  <mat-sidenav role="navigation" mode="side" [opened]="true"
      class="sidenav-menu">
    <mat-nav-list>
      <div *ngFor="let entry of settings_items">
        <a mat-list-item (click)="selectedEntry(entry)">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>{{entry.icon}}</mat-icon>
            <span>{{entry.label}}</span>
          </div>
        </a>
        <mat-divider></mat-divider>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="sidenav-content" fxLayout="row">
      <div *ngIf="selected_item === 'projects'" @InOutAnimation
          class="settings-item">

        <mat-card class="settings-item-card">
          <mat-card-header>
            <mat-card-title>Projects</mat-card-title>
          </mat-card-header>
          
          <mat-form-field style="width: 100%">
            <mat-chip-list #projectList aria-label="Projects List">
              <mat-chip *ngFor="let project of getProjects()|async"
                  [selectable]="false" [removable]="true"
                  (removed)="removeProject(project)">
                {{project}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input placeholder="Add new project"
                  [formControl]="project_form_ctrl"
                  [matChipInputFor]="projectList"
                  [matChipInputSeparatorKeyCodes]="chip_separator_codes"
                  (matChipInputTokenEnd)="addProject($event)">
            </mat-chip-list>
          </mat-form-field>
          </mat-card>
      </div>

      <div *ngIf="selected_item === 'importexport'" @InOutAnimation
          class="settings-item">
        <mat-card class="settings-item-card">
          <mat-card-header>
            <mat-card-title>Import/Export Data</mat-card-title>
          </mat-card-header>
          <app-import-export-data></app-import-export-data>
        </mat-card>
      </div>

      <div *ngIf="selected_item === 'sync'" @InOutAnimation
          class="settings-item">

        <mat-card class="settings-item-card">
          <mat-card-header>
            <mat-card-title>
              Device Synchronization
            </mat-card-title>
          </mat-card-header>
          <app-settings-device-sync></app-settings-device-sync>
        </mat-card>

      </div>

      <div *ngIf="selected_item === 'appinfo'" @InOutAnimation
          class="settings-item">
        <mat-card class="settings-item-card">
          <mat-card-header>
            <mat-card-title>
              Application Information
            </mat-card-title>
          </mat-card-header>

          <div fxLayout="column">
            <span>Build: {{getBuildCommit()}}</span>
            <span>Date: {{getBuildDate()}}</span>
          </div>

        </mat-card>

      </div>


    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
