<mat-sidenav-container class="sidenav-container" autosize>

  <mat-sidenav role="navigation" mode="side" [opened]="true"
      class="sidenav-menu">
    <mat-nav-list>
      <div *ngFor="let entry of settings_items" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <a mat-list-item (click)="selectedEntry(entry)">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon>{{entry.icon}}</mat-icon>
              <span style="width: 10px"></span> <!-- spacer -->
              <span>{{entry.label}}</span>
            </div>
          </a>
          <span></span>
          <div>
            <mat-icon *ngIf="selected_item === entry.id">
              play_arrow
            </mat-icon>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="sidenav-content" fxLayout="row">
      <div *ngIf="selected_item === 'projects'" @InOutAnimation
          class="settings-item">

        <mat-card class="settings-item-card">
          <mat-card-header>
            <mat-card-title>Projects & Labels</mat-card-title>
          </mat-card-header>
          
          <app-settings-projects-labels></app-settings-projects-labels>
          
          </mat-card>
      </div>

      <div *ngIf="selected_item === 'importexport'" @InOutAnimation
          class="settings-item">
        <mat-card class="settings-item-card">
          <mat-card-header>
            <mat-card-title>Import/Export Data</mat-card-title>
          </mat-card-header>
          <app-import-export-data></app-import-export-data>
        </mat-card>
      </div>

      <div *ngIf="selected_item === 'sync'" @InOutAnimation
          class="settings-item">

        <mat-card class="settings-item-card">
          <mat-card-header>
            <mat-card-title>
              Device Synchronization
            </mat-card-title>
          </mat-card-header>
          <app-settings-device-sync></app-settings-device-sync>
        </mat-card>

      </div>

      <div *ngIf="selected_item === 'appinfo'" @InOutAnimation
          class="settings-item">
        <mat-card class="settings-item-card">
          <mat-card-header>
            <mat-card-title>
              Application Information
            </mat-card-title>
          </mat-card-header>

          <div fxLayout="column">
            <span>Build: {{getBuildCommit()}}</span>
            <span>Date: {{getBuildDate()}}</span>
          </div>

        </mat-card>

      </div>


    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
