<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Projects</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field style="width: 100%">
      <mat-chip-list #projectList aria-label="Projects List">
        <mat-chip *ngFor="let project of getProjects()|async"
            [selectable]="false" [removable]="true"
            (removed)="removeProject(project)">
          {{project}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Add new project"
            [formControl]="project_form_ctrl"
            [matChipInputFor]="projectList"
            [matChipInputSeparatorKeyCodes]="chip_separator_codes"
            (matChipInputTokenEnd)="addProject($event)">
      </mat-chip-list>
    </mat-form-field>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Workflow</mat-panel-title>
    </mat-expansion-panel-header>

    Ledgers ...
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Import/Export Data</mat-panel-title>
    </mat-expansion-panel-header>

    <button mat-raised-button (click)="exportData()">Export</button>
    <button mat-raised-button disabled (click)="importData()" color="warn">
      Import
    </button>
    <div *ngIf="isExporting()">
      <mat-divider></mat-divider>
      <span *ngIf="!isExportReady()">Exporting...</span>
      <div *ngIf="isExportReady()">
        <span *ngIf="isExportReady()">Ready for Download</span>
        <div>
          <mat-divider></mat-divider>
            <div *ngFor="let stat of getStatistics()">
              <span>{{stat.name}}: {{stat.size}}</span>
              <mat-divider></mat-divider>
            </div>
        </div>
        <button mat-raised-button (click)="downloadExport()">
          Download
        </button>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Application Information</mat-panel-title>
    </mat-expansion-panel-header>

    <div fxLayout="column">
      <span>Build: {{getBuildCommit()}}</span>
      <span>Date: {{getBuildDate()}}</span>
    </div>

  </mat-expansion-panel>

</mat-accordion>
