.sidenav-container {
    min-height: calc(100vh - 64px - 20px - 20px);
    width: 100%;
}

.sidenav-menu {
    width: 270px;
    top: calc(64px + 20px);
    bottom: 0px;
    // height: calc(100vh - 64px - 20px - 20px);
    position: fixed;
    // margin-bottom: 20px;
}

.sidenav-content {
    min-height: calc(100vh - 64px - 20px - 20px);
    width: 100%;
}

.settings-item {
    width: 100%;
}

.settings-item-card {
    height: calc(100% - 16px);
    padding-bottom: 0px;
}