<mat-accordion>

  <mat-expansion-panel *ngFor="let prio of getPriorities()"
      [expanded]="(prio.expanded|async)"
      [disabled]="!(prio.enabled|async)"
      (opened)="expanded(prio)"
      (closed)="collapsed(prio)">

    <mat-expansion-panel-header>
      <mat-panel-title>{{prio.label}} {{prio.size|async}}</mat-panel-title>
    </mat-expansion-panel-header>
    <app-task-ledger-list
        [ledger]="ledger" [prio]="prio.name" [filters]="filters">
    </app-task-ledger-list>
  </mat-expansion-panel>
</mat-accordion>
