<mat-accordion>

  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>High</mat-panel-title>
    </mat-expansion-panel-header>

    <app-task-ledger-list></app-task-ledger-list>

  </mat-expansion-panel>

  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>Medium</mat-panel-title>
    </mat-expansion-panel-header>

    Medium priority Items

  </mat-expansion-panel>

  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>Low</mat-panel-title>
    </mat-expansion-panel-header>

    Low priority Items

  </mat-expansion-panel>
</mat-accordion>
