<div>

  <ngx-datatable
      class="material"
      [headerHeight]="50"
      [limit]="15"
      [columnMode]="column_mode"
      [footerHeight]="50"
      rowHeight="auto"
      [trackByProp]="'update'"
      [rows]="rows"
  >

    <!-- info -->
    <ngx-datatable-column
        [width]="50"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div fxLayout="column" fxLayoutAlign="start start">
          <a href="javascript:void(0)" (click)="showTaskInfo(row)">
            <mat-icon>info</mat-icon>
          </a>
        </div>
        
      </ng-template>
    </ngx-datatable-column>

    <!-- title -->
    <ngx-datatable-column [width]="200" name="TITLE" prop="title">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div fxLayout="column" fxLayoutAlign="start start">
          <div fxLayout="row" fxLayoutAlign="start start">
            <a href="javascript:void(0)" (click)="startTimer(row)"
              *ngIf="!has_running_timer[row.id]">
            <mat-icon style="transform: scale(0.7);">play_circle_outline</mat-icon>
            </a>
            <a href="javascript:void(0)" (click)="pauseTimer(row)"
                *ngIf="has_running_timer[row.id]">
              <mat-icon style="transform: scale(0.7)">pause_circle_outline</mat-icon>
            </a>
            <strong>{{row.title}}</strong>
            <span *ngIf="row.url !== ''" style="width: 5px"></span>
            <a *ngIf="row.url !== ''" [href]="row.url">
              (link)
            </a>
          </div>
          <div *ngIf="has_timer[row.id]">
            <span>spent {{(time_spent|async)[row.id]}}</span>
          </div>       
        </div>
      </ng-template>
    </ngx-datatable-column>

    <!-- project -->
    <ngx-datatable-column [width]="200" name="PROJECT" prop="project">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span>{{row.project}}</span>
      </ng-template>
    </ngx-datatable-column>

    <!-- assigned -->
    <ngx-datatable-column [width]="200" name="ASSIGNED" prop="assignee">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div fxLayout="column" fxLayoutAlign="start start">
          <div fxLayout="row" fxLayoutAlign="start start"
              *ngIf="row.assignee !== ''">
            <mat-icon style="transform: scale(0.8);"
                matTooltip="assignee">
              people
            </mat-icon>
            <span style="padding-left: 5px">{{row.assignee}}</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start"
              *ngIf="row.team !== ''">
            <mat-icon style="transform: scale(0.8);"
                matTooltip="team">
              group_work
            </mat-icon>
            <span style="padding-left: 5px">{{row.team}}</span>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <!-- created -->
    <ngx-datatable-column [width]="200" name="CREATED" prop="created_on_ms"
        *ngIf="ledger !== 'done'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span>{{(created_on|async)[row.id]}}</span>
      </ng-template>
    </ngx-datatable-column>

    <!-- actions -->
    <ngx-datatable-column
        [width]="100"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="false"
    >
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div fxLayout="column" fxLayoutAlign="start center">
          <div fxLayout="row" fxLayoutAlign="start start">
            <a *ngIf="has_backlog_ledger && !row.is_done"
                (click)="moveTaskToBacklog(row)"
                href="javascript:void(0)" matTooltip="Move to Backlog">
              <mat-icon style="transform: scale(0.8);">first_page</mat-icon>
            </a>
            <a *ngIf="!row.is_done" (click)="markDone(row)"
                href="javascript:void(0)" matTooltip="Mark as Done">
              <mat-icon style="transform: scale(0.8)">check_circle_outline</mat-icon>
            </a>
            <a *ngIf="has_next_ledger" (click)="moveTaskForward(row)"
                href="javascript:void(0)" matTooltip="Move Forward">
              <mat-icon style="transform: scale(0.8);">double_arrow</mat-icon>
            </a>
          </div>
          <a (click)="deleteTask(row)"
              href="javascript:void(0)" matTooltip="Delete"
              style="color: darkred">
            <mat-icon style="transform: scale(0.8);">delete</mat-icon>
          </a>
        </div>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>

</div>
