<div>

  <ngx-datatable
      class="material"
      [headerHeight]="50"
      [limit]="15"
      [columnMode]="column_mode"
      [footerHeight]="50"
      rowHeight="auto"
      [trackByProp]="'update'"
      [rows]="rows"
  >

    <!-- info -->
    <ngx-datatable-column
        [width]="50"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a href="javascript:void(0)" (click)="showTaskInfo(row)">
          <mat-icon>info</mat-icon>
        </a>
      </ng-template>
    </ngx-datatable-column>

    <!-- title -->
    <ngx-datatable-column [width]="200" name="TITLE">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div fxLayout="column" fxLayoutAlign="start start">
          <strong>{{row.title}}</strong>
          <a *ngIf="row.url !== ''" [href]="row.url">
            link
          </a>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <!-- project -->
    <ngx-datatable-column [width]="200" name="PROJECT">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span>{{row.project}}</span>
      </ng-template>
    </ngx-datatable-column>

    <!-- assigned -->
    <ngx-datatable-column [width]="200" name="ASSIGNED">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div fxLayout="column" fxLayoutAlign="start start">
          <div fxLayout="row" fxLayoutAlign="start start"
              *ngIf="row.assignee !== ''">
            <mat-icon style="transform: scale(0.8);"
                matTooltip="assignee">
              people
            </mat-icon>
            <span style="padding-left: 5px">{{row.assignee}}</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start"
              *ngIf="row.team !== ''">
            <mat-icon style="transform: scale(0.8);"
                matTooltip="team">
              group_work
            </mat-icon>
            <span style="padding-left: 5px">{{row.team}}</span>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <!-- created -->
    <ngx-datatable-column [width]="200" name="CREATED">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span>{{(created_on|async)[row.id]}}</span>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>

</div>
