<div>
  <h1 mat-dialog-title>Welcome to wip:wd's Tasks!</h1>

  <mat-dialog-content class="mat-typography">
    <p>This project allows you to manage your tasks,
      <a href="https://en.wikipedia.org/wiki/Kanban_(development)"
      target="new">Kanban</a> style, directly in
      your browser. We do not keep, or have access, to any of your data.</p>

    <p>All tasks, and their associated data, is kept in your browser's
      storage.</p>

    <p>While this has the obvious benefit of <strong>YOU</strong> keeping
    control of your data, it has the drawback of this data not being shared
    across devices, or even across browsers. It will however survive browser
    sessions (e.g., when you shutdown your computer or close your tab).</p>

    <p>Be aware that, at this point in time, this is still under heavy development.
    Therefore, we cannot guarantee your data will be safe from deletion, should
    a format change be needed, or a bug surfaces. We will do our very best to
    prevent that from happening.</p>

    <p>With gratitude,</p>
    <p><i>Your friendly World Dominators.</i></p>
    <mat-divider></mat-divider>
    <p style="font-size: small">
      <i>This work is Free Software, licensed under the European Union's Public
      License version 1.2, as published by the European Commission. You can
      find its source code on <a href="https://github.com/wipwd/wwd-tasks.git"
      target="new">github</a>.</i>
    </p>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
  </div>
</div>
