<div fxLayout="row" fxLayoutAlign="space-between center">
  <div class="item-title">
    <a [href]="task.item.url" target="new" *ngIf="hasURL()">
      <mat-icon class="item-title-icon">open_in_new</mat-icon>
    </a>
    <span><strong>{{task.item.title}}</strong></span>
    <button mat-icon-button (click)="editTask()">
      <mat-icon class="item-title-icon">create</mat-icon>
    </button>
  </div>
  <span class="item-date">{{getCreatedSince()}}</span>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span>{{getProjects()}}</span>
  </div>
  <div>
    <button mat-icon-button *ngIf="hasPrevious()" (click)="movePrevious()"
        matTooltip="To Backlog" matTooltipPosition="above"
        [matTooltipDisabled]="false">
      <mat-icon>reply_all</mat-icon>
    </button>
    <button mat-icon-button (click)="remove()"
        matTooltip="Delete" matTooltipPosition="above"
        [matTooltipDisabled]="false">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button mat-icon-button *ngIf="canMarkDone()" (click)="markDone()"
        matTooltip="Done" matTooltipPosition="above"
        [matTooltipDisabled]="false">
      <mat-icon>check_circle</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isMarkedDone()" (click)="archive()"
        matTooltip="Archive" matTooltipPosition="above"
        [matTooltipDisabled]="false">
      <mat-icon>archive</mat-icon>
    </button>
    <button mat-icon-button *ngIf="hasNext()" (click)="moveNext()"
        matTooltip="Next" matTooltipPosition="above"
        [matTooltipDisabled]="false">
      <mat-icon>forward</mat-icon>
    </button>
  </div>
</div>
