<mat-sidenav-container class="sidenav-container">

  <mat-sidenav role="navigation" mode="side" [opened]="true"
      class="sidenav-menu">
    
      <mat-nav-list>
        <div *ngFor="let ledger of ledgers" fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <a mat-list-item (click)="selectLedger(ledger)">
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>{{ledger.icon}}</mat-icon>
                <span class="menu-entry">
                  {{ledger.label}} {{getLedgerSize(ledger.name)|async}}
                </span>
              </div>
            </a>          
            <span></span>
            <div>
              <mat-icon *ngIf="selected_ledger === ledger.name">
                play_arrow
              </mat-icon>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
        <a mat-list-item (click)="toggleOptionsMenu()">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>filter_list</mat-icon>
            <span class="menu-entry">Options</span>
          </div>
        </a>
        <div *ngIf="show_options_menu" fxLayout="column">
          <div
              fxLayout="column" class="filter-menu"
              [formGroup]="filter_form_group">
            <span><strong>Filters</strong></span>
            <mat-form-field style="width: 200px">
              <mat-label>Project</mat-label>
              <mat-select multiple formControlName="project"
                  (selectionChange)="projectFilterChanged($event)">
                <mat-option
                    *ngFor="let project of projects"
                    [value]="project">
                  {{project}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 200px">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title"
                  (keyup)="titleFilterChanged($event)"/>
            </mat-form-field>
          </div>

          <mat-divider class="filter-menu-divider"></mat-divider>

          <div fxLayout="column" class="filter-menu"
              [formGroup]="sorting_form_group">
            <span><strong>Sort By</strong></span>
            <mat-form-field style="width: 200px">
              <mat-label>Field</mat-label>
              <mat-select formControlName="field"
                  (selectionChange)="sortingFieldChanged($event)">
                <mat-option value="title">Title</mat-option>
                <mat-option value="creation">Creation</mat-option>
                <mat-option value="duration">Duration</mat-option>
                <mat-option value="project">Project</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 200px">
              <mat-label>Direction</mat-label>
              <mat-select formControlName="direction"
                  (selectionChange)="sortingDirectionChanged($event)">
                <mat-option value="asc">Ascending</mat-option>
                <mat-option value="desc">Descending</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
        <mat-divider></mat-divider>
      </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card class="filters-card">
      <div fxLayout="row" fxLayoutAlign="center center">
        <span *ngFor="let filter of getFilters()|keyvalue" class="filter-entry">
          <strong>{{filter.key}}:</strong> {{filter.value}}
        </span>
        <div *ngIf="hasFilter()" class="filter-divider-container">
          <mat-divider [vertical]="true" class="filter-divider"></mat-divider>
        </div>
        <span>
          <strong>sort by: </strong> {{getSorting().sortby}}
          <strong *ngIf="getSorting().ascending">ascending</strong>
          <strong *ngIf="!getSorting().ascending">descending</strong>
        </span>
      </div>
      <span></span>
    </mat-card>
    <div *ngFor="let ledger of ledgers">
      <div *ngIf="ledger.name === selected_ledger" @InOutAnimation>
        <app-task-ledger [ledger]="ledger.name"
            [filters]="filters$" [sorting]="sorting$">
        </app-task-ledger>
      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>