<div fxLayout="column" fxLayoutAlign="start start"
    style="width: 100%;">
  
  <mat-form-field style="width: 300px">
    <mat-label>New Project Name</mat-label>
    <input matInput (keyup.enter)="addProject()"
        [formControl]="project_add_form_ctrl"/>
  </mat-form-field>

  <table mat-table [dataSource]="projects" style="width: 100%">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let project" style="min-width: 300px">
        <div *ngIf="edit_project_id !== project.id">
          <span>{{project.name}}</span>
        </div>
        <div *ngIf="edit_project_id === project.id">
          <mat-form-field style="width: 300px">
          <mat-label>Project Name</mat-label>
          <input matInput (keyup.enter)="submitProjectRename(project)"
              [formControl]="project_rename_form_ctrl"/>
        </mat-form-field>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="numtasks">
      <th mat-header-cell *matHeaderCellDef># Tasks</th>
      <td mat-cell *matCellDef="let project">
        {{num_tasks_by_project[project.id]}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let proj">
        <div fxLayout="row" fxLayout="start center">
          <button mat-icon-button type="button"
              (click)="toggleRenameProject(proj)"
              [disabled]="edit_project_id > 0 && edit_project_id !== proj.id">
            <mat-icon *ngIf="edit_project_id !== proj.id">edit</mat-icon>
            <mat-icon *ngIf="edit_project_id === proj.id">cancel</mat-icon>
          </button>
          <span style="width: 20px"></span>
          <button mat-icon-button type="button" (click)="removeProject(proj)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'numtasks', 'actions']"></tr>
    <tr mat-row
        *matRowDef="let project_row; columns: ['name', 'numtasks', 'actions']">
    </tr>

  </table>



</div>
