<div class="mat-elevation-z8">

  <div fxLayout="row" fxLayoutAlign="start center" style="padding: 20px">

    <div fxLayout="row" fxLayoutAlign="start center"
        (click)="togglePeopleAdd()">
      <mat-icon *ngIf="!show_people_add_form" style="margin-top: 11px">
        add
      </mat-icon>
      <mat-icon *ngIf="show_people_add_form">cancel</mat-icon>
      <span style="width: 10px"></span>
      <span *ngIf="!show_people_add_form" style="margin-top: 11px;">
        Add People
      </span>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center"
        [formGroup]="form_add_people" *ngIf="show_people_add_form">
      
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput required formControlName="name"/>
      </mat-form-field>

      <span style="width: 40px"></span>
      <mat-form-field>
        <mat-label>Team</mat-label>
        <mat-select formControlName="team" [value]="0">
          <mat-option value="0"></mat-option>
          <mat-option *ngFor="let team of teams|keyvalue" [value]="team.key">
            {{team.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <span style="width: 40px"></span>
      <button mat-stroked-button (click)="addPeople()">
        Add
      </button>
    </div>
  
  </div>

  <ngx-datatable
      class="material"
      [headerHeight]="50"
      [limit]="10"
      [columnMode]="ColumnMode.force"
      [footerHeight]="50"
      rowHeight="auto"
      [trackByProp]="'update'"
      [rows]="rows"
  >
    <!-- columns -->
    <ngx-datatable-column name="NAME" [width]="200">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div fxLayout="row" fxLayoutAlign="start center">
          <strong>{{row.name}}</strong>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="TEAM" [width]="200">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span>{{row.team}}</span>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="# TASKS" [width]="200">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span>{{row.tasks}}</span>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
        [width]="100"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="false"
    >
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div fxLayout="row" fxLayoutAlign="start center">
          <a href="javascript:void(0)" (click)="removePerson(row)"
              style="color: darkred">
            <mat-icon>delete</mat-icon>
          </a>
        </div>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>

</div>
