<div style="width: 500px">
  <h2 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    <span>Notes</span>
    <span style="width: 2em"></span>
    <button mat-icon-button (click)="close()">
      <mat-icon>cancel</mat-icon>
    </button>
  </h2>

  <mat-dialog-content fxLayout="column">

    <mat-tab-group
        [selectedIndex]="getCurrentTab()"
        (selectedIndexChange)="changedTab($event)">
      <mat-tab label="Add New Note">
        <div fxLayout="column">
          <form [formGroup]="add_note_form_group">
            <mat-form-field appearance="fill" style="width: 100%">
              <mat-label>Note</mat-label>
              <textarea matInput rows="3"></textarea>
            </mat-form-field>
          </form>
          <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-stroked-button color="warn" (click)="close()">
              Cancel
            </button>
            <span style="width: 10px"></span>
            <button mat-raised-button color="primary" cdkFocusInitial>Save</button>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Notes">
        <div style="min-height: 100px">
          <mat-selection-list [multiple]="false">
            <mat-list-option (click)="selectNote()">16 November of awful 2020</mat-list-option>
          </mat-selection-list>
        </div>
      </mat-tab>

      <mat-tab label="Note Details" *ngIf="hasSelectedNote()">
        <p>Note text</p>
      </mat-tab>
    </mat-tab-group>

  </mat-dialog-content>
</div>
