<div fxLayout="column">
  <h3 class="mat-h3">Add Task to Backlog</h3>
  <form [formGroup]="add_task_form_group">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field style="width: 64ch" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput [formControl]="form_ctrl_title" placeholder="my fancy task" required>
      </mat-form-field>

      <span style="width: 12px;"></span>

      <mat-form-field appearance="fill" style="width: 15ch">
        <mat-label>Priority</mat-label>
        <mat-select [formControl]="form_ctrl_priority" value="medium" required>
          <mat-option value="high">High</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="low">Low</mat-option>
        </mat-select>
      </mat-form-field>

      <span style="width: 12px;"></span>

      <mat-form-field appearance="fill">
        <mat-label>Project</mat-label>
        <mat-select [formControl]="form_ctrl_project" multiple>
          <mat-option
              *ngFor="let project of getProjects()|async"
              value="{{project}}">
            {{project}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field style="width: 128ch" appearance="fill">
        <mat-label>URL</mat-label>
        <input matInput [formControl]="form_ctrl_url"
            placeholder="https://github.com/wipwd/wwd-tasks.git">
      </mat-form-field>
      <button mat-icon-button type="submit" (click)="addNewTask()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </form>

</div>
