<div>
  <h2 mat-dialog-title fxLayout="row" fxLayout="start center">
    <mat-icon style="font-size: 32px">info</mat-icon>
    <span style="width: 0.5em"></span>
    <span>{{item.title}} ({{item.priority}})</span>
  </h2>

  <mat-dialog-content fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span style="min-width: 30em">
        <strong>Projects:</strong> {{item.project}}
      </span>
      <div fxLayout="column">
        <span style="min-width: 40em">
          <strong>Created on:</strong> {{item.date.toUTCString()}}
        </span>
        <span style="min-width: 40em" *ngIf="isMarkedDone()">
          <strong>Finished on:</strong> {{item.done.toUTCString()}}
        </span>
      </div>
    </div>
    <mat-divider></mat-divider>

    <span style="height: 2em"></span>
    <div fxLayout="column">

      <div fxLayout="row" fxLayoutAlign="start">
        <h3 class="mat-h3">Time Sheet</h3>
        <span style="width: 50px"></span>
        <button mat-icon-button id="timesheet-add-button"
            fxLayout="row" fxLayoutAlign="start top"
            (click)="toggleAddNewEntry()">
          <mat-icon *ngIf="!isAddNewEntry()">add_circle_outline</mat-icon>
          <mat-icon *ngIf="isAddNewEntry()">highlight_off</mat-icon>
          <span>add entry</span>
        </button>
      </div>

      <div *ngIf="isAddNewEntry()" class="add-entry-container">

        <form [formGroup]="add_entry_form_group"
            fxLayout="row" fxLayoutAlign="start center">

          <mat-icon>pending_actions</mat-icon>

          <span class="spacer"></span>
          <div fxLayout="row" fxLayoutAlign="start end" class="foobar">
            <mat-form-field appearance="fill">
              <mat-label>When</mat-label>
              <mat-date-range-input
                  [rangePicker]="whenPicker"
                  [formGroup]="date_picker_form_group"
                  [dateFilter]="datePickerFilter">
                <input matStartDate placeholder="from" formControlName="from">
                <input matEndDate placeholder="to" formControlName="to">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="whenPicker">
              </mat-datepicker-toggle>
              <mat-date-range-picker #whenPicker></mat-date-range-picker>
            </mat-form-field>

            <span class="spacer"></span>
            <div fxLayout="column" [formGroup]="time_from_form_group">
              <span class="time-label">from</span>
              <mat-divider class="time-label-divider"></mat-divider>
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="fill" class="time-input-field">
                  <input matInput type="number" min="0" max="24" placeholder="h"
                      formControlName="hour">
                </mat-form-field>
                <h3 class="time-input-field-divider">:</h3>
                <mat-form-field appearance="fill" class="time-input-field">
                  <input matInput type="number" min="0" max="59" placeholder="m"
                      formControlName="minutes">
                </mat-form-field>
              </div>
            </div>

            <span class="spacer"></span>
            <div fxLayout="column" [formGroup]="time_until_form_group">
              <span class="time-label">until</span>
              <mat-divider class="time-label-divider"></mat-divider>
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="fill" class="time-input-field">
                  <input matInput type="number" min="0" max="24" placeholder="h"
                      formControlName="hour">
                </mat-form-field>
                <h3 class="time-input-field-divider">:</h3>
                <mat-form-field appearance="fill" class="time-input-field">
                  <input matInput type="number" min="0" max="59" placeholder="m"
                      formControlName="minutes">
                </mat-form-field>
              </div>
            </div>

          </div>

          <span class="spacer"></span>
          <div>
            <button mat-icon-button type="submit" (click)="addNewEntry()">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button type="button"
                (click)="cancelNewEntry()" cdkFocusInitial>
              <mat-icon>clear</mat-icon>
            </button>
          </div>

        </form>

      </div>

      <div fxLayout="row" fxLayoutAlign="center center"
          *ngIf="!item.timer || item.timer.intervals.length === 0">
        <span><strong>No entries</strong></span>
      </div>
      <div fxLayout="row" *ngIf="item.timer?.intervals.length > 0">
        <table mat-table style="width: 100%"
            [dataSource]="item.timer?.intervals">

          <ng-container matColumnDef="interval">
            <th mat-header-cell *matHeaderCellDef>When?</th>
            <td mat-cell *matCellDef="let interval">
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>play_arrow</mat-icon>
                  <span style="width: 10px"></span>
                  <span>{{interval.start.toUTCString()}}</span>
                </div>
                <div *ngIf="!!interval.end"
                    fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>stop</mat-icon>
                  <span style="width: 10px"></span>
                  <span>{{interval.end.toUTCString()}}</span>
                </div>
              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Time Spent</th>
            <td mat-cell *matCellDef="let interval">{{timeSpent(interval)}}</td>
            <td mat-footer-cell *matFooterCellDef>{{totalTimeSpent()}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['interval', 'total']"></tr>
          <tr mat-row *matRowDef="let interval_row; columns: ['interval',
          'total'];"></tr>
          <tr mat-footer-row *matFooterRowDef="['interval', 'total']"></tr>
        </table>
      </div>

    </div>

  </mat-dialog-content>

</div>
