<div style="width: 1000px">

  <!-- title -->
  <div mat-dialog-title>
    <div fxLayout="row" fxLayoutAlign="space-between center"
        *ngIf="is_edit_mode"
        [formGroup]="edit_form_group">
      <mat-form-field style="min-width: 64ch;">
        <input matInput formControlName="title"/>
      </mat-form-field>
      <span></span>
      <mat-form-field style="width: 9ch;">
        <mat-select formControlName="priority">
          <mat-option value="high">high</mat-option>
          <mat-option value="medium">medium</mat-option>
          <mat-option value="low">low</mat-option>
        </mat-select>
      </mat-form-field>
      <span></span>
      <button mat-mini-fab (click)="saveEditValues()">
        <mat-icon>save</mat-icon>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center"
        *ngIf="!is_edit_mode">
      <span>{{task.item.title}} ({{task.item.priority}})</span>
      <span style="width: 0.5em"></span>
      <button mat-mini-fab (click)="editMode()">
        <mat-icon>create</mat-icon>
      </button>
    </div>
  </div>

  <!-- dialog content -->
  <mat-dialog-content fxLayout="column">

    <!-- first row (project / created / finished) -->
    <div fxLayout="row" fxLayoutAlign="space-between center">

      <!-- projects -->
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <!-- view / read-only -->
        <div *ngIf="!is_edit_mode">
          <span style="min-width: 30em">
            <strong>Projects:</strong> {{project}}
          </span>
        </div>
        <!-- edit -->
        <div *ngIf="is_edit_mode" [formGroup]="edit_form_group">
          <mat-form-field>
            <mat-select formControlName="projects">
              <mat-option
                  *ngFor="let item of edit_projects|keyvalue"
                  [value]="item.key">
                {{item.value}}
              </mat-option>            
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- created / finished -->
      <div fxLayout="column">
        <span>
          <strong>Created on:</strong> {{task.item.date.toUTCString()}}
        </span>
        <span *ngIf="isMarkedDone()">
          <strong>Finished on:</strong> {{task.item.done.toUTCString()}}
        </span>
      </div>
    </div> <!-- first row end -->

    <!-- second row (assignee / team)-->
    <div fxLayout="row" fxLayoutAlign="space-between center"
        [formGroup]="edit_form_group">

      <!-- assignee -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <div *ngIf="!is_edit_mode">
          <span style="min-width: 30em" *ngIf="has_assignee">
            <strong>Assignee:</strong> {{assignee}}
          </span>
        </div>
        <!-- edit -->
        <div *ngIf="is_edit_mode">
          <mat-form-field>
            <mat-label>Assignee</mat-label>
            <mat-select formControlName="assignee">
              <mat-option *ngFor="let item of edit_assignees|keyvalue"
                  [value]="item.key">
                {{item.value}}
              </mat-option>
              <mat-option value="0">Unassigned</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- edit end -->

      </div> <!-- assignee end -->

      <!-- team -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <div *ngIf="!is_edit_mode">
          <span style="min-width: 30em" *ngIf="has_team">
            <strong>Team:</strong> {{team}}
          </span>
        </div>
        <!-- edit -->
        <div *ngIf="is_edit_mode">
          <mat-form-field>
            <mat-label>Team</mat-label>
            <mat-select formControlName="team">
              <mat-option [value]="0"></mat-option>
              <mat-option *ngFor="let item of edit_teams|keyvalue"
                  [value]="item.key">
                {{item.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- edit end -->

      </div> <!-- team end -->

    </div>

    <!-- divider -->
    <div style="padding-top: 10px">
      <mat-divider></mat-divider>
    </div>

    <!-- spacer -->
    <span style="height: 2em"></span>

    <div style="padding-top: 20px">
      <mat-sidenav-container autosize style="height: calc(100vh / 2)">

        <mat-sidenav role="navigation" mode="side" [opened]="true">

          <mat-nav-list class="menu-nav-list">
            <a mat-list-item (click)="content = 'timesheet'"
                [class.menu-active]="content === 'timesheet'">
              <span>Time Sheet</span>
            </a>
            <a mat-list-item (click)="content = 'notes'"
                [class.menu-active]="content === 'notes'">
              <span>Notes</span>
            </a>
          </mat-nav-list>

        </mat-sidenav>

        <mat-sidenav-content>

          <div *ngIf="content === 'timesheet'">
            <mat-toolbar class="mat-elevation-z2 menu-toolbar">
              <div fxLayout="row" fxLayoutAlign="start">
                <a href="javascript:void(0)" (click)="toggleAddNewEntry()"
                    style="text-decoration: none;">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon *ngIf="!isAddNewEntry()" style="transform: scale(0.8);">
                      add_circle_outline
                    </mat-icon>
                    <mat-icon *ngIf="isAddNewEntry()">highlight_off</mat-icon>
                    <span>add entry</span>
                  </div>
                </a>
              </div>
            </mat-toolbar>

            <ng-container [ngTemplateOutlet]="timesheet"></ng-container>
          </div>

          <div *ngIf="content === 'notes'">
            <span>Notes stuff</span>
          </div>

        </mat-sidenav-content>

      </mat-sidenav-container>
    </div>

  </mat-dialog-content>

</div>


<ng-template #timesheet>
  <!-- timesheet -->
  <mat-sidenav-container>

    <mat-sidenav-content>

      <div *ngIf="isAddNewEntry()" class="add-entry-container">

        <form [formGroup]="add_entry_form_group"
            fxLayout="row" fxLayoutAlign="start center">

          <mat-icon>pending_actions</mat-icon>

          <span class="spacer"></span>
          <div fxLayout="row" fxLayoutAlign="start end" class="foobar">
            <mat-form-field appearance="fill">
              <mat-label>When</mat-label>
              <mat-date-range-input
                  [rangePicker]="whenPicker"
                  [formGroup]="date_picker_form_group"
                  [dateFilter]="datePickerFilter">
                <input matStartDate placeholder="from" formControlName="from">
                <input matEndDate placeholder="to" formControlName="to">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="whenPicker">
              </mat-datepicker-toggle>
              <mat-date-range-picker #whenPicker></mat-date-range-picker>
            </mat-form-field>

            <span class="spacer"></span>
            <div fxLayout="column" [formGroup]="time_from_form_group">
              <span class="time-label">from</span>
              <mat-divider class="time-label-divider"></mat-divider>
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="fill" class="time-input-field">
                  <input matInput type="number" min="0" max="24" placeholder="h"
                      formControlName="hour">
                </mat-form-field>
                <h3 class="time-input-field-divider">:</h3>
                <mat-form-field appearance="fill" class="time-input-field">
                  <input matInput type="number" min="0" max="59" placeholder="m"
                      formControlName="minutes">
                </mat-form-field>
              </div>
            </div>

            <span class="spacer"></span>
            <div fxLayout="column" [formGroup]="time_until_form_group">
              <span class="time-label">until</span>
              <mat-divider class="time-label-divider"></mat-divider>
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="fill" class="time-input-field">
                  <input matInput type="number" min="0" max="24" placeholder="h"
                      formControlName="hour">
                </mat-form-field>
                <h3 class="time-input-field-divider">:</h3>
                <mat-form-field appearance="fill" class="time-input-field">
                  <input matInput type="number" min="0" max="59" placeholder="m"
                      formControlName="minutes">
                </mat-form-field>
              </div>
            </div>

          </div>

          <span class="spacer"></span>
          <div>
            <button mat-icon-button type="submit" (click)="addNewEntry()">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button type="button"
                (click)="cancelNewEntry()" cdkFocusInitial>
              <mat-icon>clear</mat-icon>
            </button>
          </div>

        </form>

      </div>

      <div fxLayout="row" fxLayoutAlign="center center"
          *ngIf="!task.item.timer || task.item.timer.intervals.length === 0">
        <span><strong>No entries</strong></span>
      </div>
      <div fxLayout="row" *ngIf="task.item.timer?.intervals.length > 0">
        <table mat-table style="width: 100%"
            [dataSource]="task.item.timer?.intervals">

          <ng-container matColumnDef="interval">
            <th mat-header-cell *matHeaderCellDef>When?</th>
            <td mat-cell *matCellDef="let interval">
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>play_arrow</mat-icon>
                  <span style="width: 10px"></span>
                  <span>{{interval.start.toUTCString()}}</span>
                </div>
                <div *ngIf="!!interval.end"
                    fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>stop</mat-icon>
                  <span style="width: 10px"></span>
                  <span>{{interval.end.toUTCString()}}</span>
                </div>
              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Time Spent</th>
            <td mat-cell *matCellDef="let interval">{{timeSpent(interval)}}</td>
            <td mat-footer-cell *matFooterCellDef>{{totalTimeSpent()}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['interval', 'total']"></tr>
          <tr mat-row *matRowDef="let interval_row; columns: ['interval',
          'total'];"></tr>
          <tr mat-footer-row *matFooterRowDef="['interval', 'total']"></tr>
        </table>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
