#timesheet-add-button.mat-icon-button {
  line-height: 28px;
}

.spacer {
  width: 20px;
}

.time-label-divider {
  padding-bottom: 5px;
  border-color: black;
}

.time-label {
  font-size: small;
}

.time-input-field {
  width: 7ch;
}

.time-input-field-divider {
  @extend .spacer;
  text-align: center;
}

.add-entry-container {
  padding-bottom: 1.5em;
}

.menu-active {
  border-bottom: 2px solid rgb(63, 81, 181);;
  background: rgb(0, 0, 0, 0.1);
}

.mat-list-base.menu-nav-list {
  padding-top: 0;
}

.menu-toolbar {
  position: sticky;
  z-index: 10;
  top: 0;
  border-top: 2px solid rgb(63, 81, 181);
  height: 50px;
}